<!--Account page-->

{% extends 'index.html' %}

{% block title %}
    User Account
{% endblock %}

{% block content %}

<section id="details" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <div class="row-1">
            <div class="col-18">
                <h1 class="text-uppercase fw-semiblold display-1">Your Account Details</h1>
                <div class="container">
                    <div class="details">
                        <p><strong>Username:</strong> {{ user.username }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Score:</strong> {{ user.calculate_score }}</p>
                    </div>
                </div>
                <br>
                <div class="container">
                    <a href="{% url 'change_details' %}" class="btn btn-light">Change your details</a>
                </div>
                <br>
                <div class="container">
                    <form method="post">
                        {% csrf_token %}
                        <label for="code">Enter the signup code:</label>
                        <input type="text" id="code" name="code">
                        <button type="submit" style="btn btn-light">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

 
{% endblock %}