{% extends 'index.html' %}

{% load static%}

{% block title %}Capture Plant Image{% endblock %}

{% block content %}
<section id="camer_interface" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <button id="enable_camera" class="btn btn-light">Enable Camera</button>
        <div class="camera" style="display:none;">
            <div class="container">
                <video id="video" class="video-capture" autoplay></video>
            </div>
            <div class="g-4">
                <button id="capture" class="btn btn-light">Capture Photo</button>
                <button id="retake" class="btn btn-light">Retake</button>
            </div>
        </div>
        <canvas id="canvas" width="320" height="240" style="display:none;"></canvas>
        <form method="post" enctype="multipart/form-data" style="display:none;" id="camera_form">
            {% csrf_token %}
            <input type="hidden" name="image_data" id="imageData">
            <input type="hidden" name="latitude" id="latitude">
            <input type="hidden" name="longitude" id="longitude">
            <button type="submit" id="submit_button" class="btn btn-light">Submit</button>
        </form>

        <div class="plant-net">
            <img src="{% static 'images/powered-by-plantnet-light.png' %}" alt="plantnet">
            <p>this page sends data to a third party site for processing</p>
          </div>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('enable_camera').addEventListener('click', function() {
        // 'facingMode: 'environment'' ensures the camera defaults to the back camera
        navigator.mediaDevices.getUserMedia({ video: {facingMode: 'environment'} })
        .then(function(stream) {
            document.querySelector('.camera').style.display = 'block';
            let video = document.getElementById('video');
            video.srcObject = stream;
            video.play();
            let enableCameraButton = document.getElementById('enable_camera');
            if (enableCameraButton) {
               enableCameraButton.remove();
            }
        })
        .catch(function(err) {
            console.error('Error accessing the camera: ', err);
        });
    });

    document.getElementById('capture').addEventListener('click', function() {
        // Draw current frame of live camera video to a canvas
        // This saves the frame, so it can be sent to the server
        let canvas = document.getElementById('canvas');
        let video = document.getElementById('video');
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);

        // Hides the video, as it is not required after a photo has been taken
        canvas.style.display = 'block';
        document.getElementById('video').style.display = 'none';
        this.style.display = 'none';
        document.getElementById('retake').style.display = 'inline';

        // Get image data from canvas in base64
        let dataURL = canvas.toDataURL('image/jpeg');
        document.getElementById('imageData').value = dataURL;
    
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                // Adds location values to form, so they can be submitted with the photo
                document.getElementById('latitude').value = position.coords.latitude;
                document.getElementById('longitude').value = position.coords.longitude;
                // Show submit button to activate it
                document.getElementById('camera_form').style.display = 'block';
                document.getElementById('submit_button').style.display = 'inline';
            }, function(error) {
                // Show submit button to activate it
                console.error('Error obtaining location: ', error);
                document.getElementById('camera_form').style.display = 'block';
                document.getElementById('submit_button').style.display = 'inline';
            });
        } else {
            console.log("Geolocation is not supported by this browser.");
            document.getElementById('camera_form').style.display = 'block';
            document.getElementById('submit_button').style.display = 'inline';
        }
    });
  
    document.getElementById('retake').addEventListener('click', function() {
        // Shows video element so the user can see their camera output
        document.getElementById('canvas').style.display = 'none';
        document.getElementById('video').style.display = 'block';
        document.getElementById('capture').style.display = 'inline';
        // Disable submit button
        this.style.display = 'none';
        document.getElementById('submit_button').style.display = 'none';
    });
});
</script>
{% endblock %}
