<!-- Create leaderboard view-->

{% extends 'index.html' %}

{% load static %}

{% block title %}Create Leaderboard{% endblock %}

{% block content %}

<section id='create' class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <h2 class="display-6">Create a Leaderboard</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-light">Create Leaderboard</button>
        </form>
    </div>

{% endblock %}
