<!--Homepage-->
{% extends 'index.html' %}
{% load static %}
 
{% block title %}Home{% endblock %}
 
{% block content %}
 
<section id="nature-guides">
  <div class="container">
    <div class="section-title text-center">
      <h5 class="display-4">Recommended Guides</h5>
      <div class="line"></div>
    </div>
    <div class="guides d-flex justify-content-center align-items-center h-100">
      <div class="guide d-block mb-4 px-4">
        <a href="https://www.exeter.ac.uk/media/universityofexeter/campusservices/grounds/pdf/HH_Streatham_7th_Guide_Jan_2023_A4_CURRENT.pdf">
          <img src="{% static 'images/HH.jpg' %}" alt="Horticultural Guide" class="img-fluid">
        </a>
      </div>
      <div class="guide d-block mb-4 px-4">
        <a href="https://www.exeter.ac.uk/media/universityofexeter/campusservices/grounds/pdf/Trail_Trail_Streatham_4th_Guide_Jan_2023_A4_CURRENT.pdf">
          <img src="{% static 'images/Tree-Trail.jpg' %}" alt="Tree Guide" class="img-fluid">
        </a>
      </div>
      <div class="guide d-block mb-4 px-4">
        <a href="https://www.exeter.ac.uk/media/universityofexeter/campusservices/grounds/pdf/Biodiversity_Trail_Streatham_4th_Guide_Jan_2023_A4_CURRENT.pdf">
          <img src="{% static 'images/Biodiversity_Trail.jpg' %}" alt="Biodiversity Guide" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>

<section id="meadows">
  <div class="container">
    <div class="section-title">
      <h1>Wildflower Meadows</h1>
    </div>
    
  </div>
</section>     

<section id="cases">
  <div class="container">
    <div class="section-title">
      <h1>Biodiversity Case Studies</h1>
    </div>
    
  </div>
</section> 
        
 <section id="uni-site" class="min-vh-100 d-flex align-items-center text-center">
     <div class="container">
         <div class="row">
             <div class="col-12">
                 <h1 class="text-uppercase fw-semibold display-1">Biodiversity at the University of Exeter</h1>
                 <div>
                     <a href="https://www.exeter.ac.uk/visit/campuses/gardens/biodiversity/aboutbiodiversity/" class="btn btn-light">Exeter Uni Website</a>
                 </div>
             </div>
         </div>
     </div>
 </section>

{% endblock %}