{% extends 'index.html' %}

{% block content %}
<div id="option_selection">
  <button id="choose_upload">Upload a Photo</button>
  <button id="choose_camera">Take a Photo</button>
</div>
<script>
  document.getElementById('choose_upload').addEventListener('click', function() {
      window.location.href = "{% url 'upload_plant_image' %}";  
  });
  
  document.getElementById('choose_camera').addEventListener('click', function() {
      window.location.href = "{% url 'capture_plant_image' %}"; 
  });
</script>
{% endblock %}

