<!--User chooses how to collect plant-->

<!--THIS PAGE IS NO LONGER USED-->


{% extends 'index.html' %}

{% block title %}
    Identify Plant
{% endblock %}

{% block content %}

<section id="identify" class="min-vh-100 d-flex align-items-center text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-uppercase fw-semiblold display-1">Collect a New Plant:</h1>
        <div class="container">
          <a href="{% url 'upload_plant_image' %}" class="btn btn-light">Upload Photo</a>
          <a href="{% url 'capture_plant_image' %}" class="btn btn-light">Take Photo</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}