 <!-- Leaderboard list view -->

{% extends 'index.html' %}

{% load static %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<section id="leaderboards" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase fw-semiblold display-1">Leaderboards</h1>  
            </div>
            <div class="line"></div>  
        </div>
        <div class="container">
            <a href="{% url 'create_leaderboard' %}" class="btn btn-light">Create Leaderboard</a>
            <a href="{% url 'join_leaderboard' %}" class="btn btn-light">Join Leaderboard</a>
        </div>
        <br>
        <div class="section-title">
            <h2 class="display-6">My Leaderboards</h2>
            <div class="line"></div>
        </div>
        <ul>
            {% for leaderboard in leaderboard_list %}
                <li><a href="{% url 'leaderboard_detail' leaderboard.leaderboard_id %}"> {{ leaderboard.leaderboard_name }}</a></li>
            {% endfor %}
        </ul>
        <div class="section-title">
            <h2 class="display-6">Public Leaderboards</h2>
            <div class="line"></div>
        </div>
        <ul>
            {% for leaderboard in public_list %}
                <li><a href="{% url 'leaderboard_detail' leaderboard.leaderboard_id %}"> {{ leaderboard.leaderboard_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}
