 <!--Greyed out version of plant card, to indicate user does not own this card--> 
<!--Load static image files from the static folder-->
{% load static %}

<div class="card" style="filter: brightness(30%); background-color: rgba(0, 0, 0, 0.5)">
    <div class="card-header">
        {{ card.name }}
    </div>
   <div class="card-body">
        <img class="plant-photo" src="{{ card.plant_photo.url }}" alt="Plant Photo" >
    </div>
    <div class="card-description">
        <h6 class="fw-semibold">About {{ card.name }}</h6> 
        <p>{{ card.description }}</p>
    </div>
</div>